/* styles.css */
:root{
    --main-font:"Roboto Mono", monospace;
    --main-background:#D4D4D4;
    --main-font-color:#D4D1919194D4;
}
@media (prefers-color-scheme: dark){
    :root{
        --main-background: #191919;
        --main-font-color: #fff;
    }
}

/* Barra Horizontal */

body {
    font-family: var(--main-font);
    background-color: var(--main-background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    color: var(--main-font-color);
    overflow-x: hidden !important;
    scrollbar-width: thin;
}



.cover {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100vw;
    height: 140px;
    margin: 0;
}

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: clamp(250px,80vw,2000px);
}
.title{
    display: flex;
    align-items: start;
    flex-direction: row;
    width: 40vw;
}
.title-p{
    font-weight: 800;
}

.toggle-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2f3437;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-right: 20px;
    margin-left: -20px;
}

.toggle-button:hover {
    background-color: #52575c;
}

.toggle-content {
    margin-top: 3px;
    margin-left: 20vw;
    border-left: 4px solid #2f3437;
    padding-left: 0px;
    width: clamp(250px,70vw,3000px);
}

.img-loading{
    margin-top: 5vw;
    width: 30vw;
}
.img:hover{
    transform: scale(1.04);
}
.img-vertical{
    width: 400px;
    height: 600px;
}
